<nav class="sidebar sidebar-offcanvas" id="sidebar">
   <ul class="nav">
      <li class="nav-item">
         <a class="nav-link" href="index.html">
            <i class="mdi mdi-home menu-icon"></i>
            <span class="menu-title">Vitrin'e Git</span>
         </a>
      </li>
      <li class="nav-item">

         <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">

            <i class="mdi mdi-view-headline menu-icon"></i>

            <span class="menu-title">Hizmetlerimiz</span>
            <i class="menu-arrow"></i>

         </a>
         <div class="collapse" id="ui-basic" >
            <ul class="nav flex-column sub-menu no-bullets" >
               <li class="nav-item">

                  <a class="nav-link" href="/Service/Index"> Hizmetleri Listele</a>
               </li>
               <li class="nav-item"> <a class="nav-link" href="/Service/AddService">Hizmet Ekle</a></li>
            </ul>
         </div>
      </li>
      <li class="nav-item">
         <a class="nav-link" data-bs-toggle="collapse" href="#auth1" aria-expanded="false" aria-controls="auth1">
            <i class="mdi mdi-view-headline menu-icon"></i>
            <span class="menu-title">Ekibmiz</span>
            <i class="menu-arrow"></i>
         </a>
         <div class="collapse" id="auth1">
            <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="/Team/Index"> Ekibi Listele </a></li>
               <li class="nav-item"> <a class="nav-link" href="/Team/AddTeam"> Ekibe Üye Ekle </a></li>

            </ul>
         </div>
      </li>
      <li class="nav-item">
         <a class="nav-link" data-bs-toggle="collapse" href="#auth2" aria-expanded="false" aria-controls="auth2">
            <i class="mdi mdi-view-headline menu-icon"></i>
            <span class="menu-title">Duyurular</span>
            <i class="menu-arrow"></i>
         </a>
         <div class="collapse" id="auth2">
            <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="/News/Index"> Duyuru Listele </a></li>
               <li class="nav-item"> <a class="nav-link" href="/News/InsertNews"> Duyuru Girişi </a></li>

            </ul>
         </div>
      </li>
      <li class="nav-item">
         <a class="nav-link" data-bs-toggle="collapse" href="#auth3" aria-expanded="false" aria-controls="auth3">
            <i class="mdi mdi-view-headline menu-icon"></i>
            <span class="menu-title">Galeri</span>
            <i class="menu-arrow"></i>
         </a>
         <div class="collapse" id="auth3">
            <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="/Image/Index"> Galeri Listele </a></li>
            </ul>
         </div>
      </li>

      <li class="nav-item">
         <a class="nav-link" data-bs-toggle="collapse" href="#auth4" aria-expanded="false" aria-controls="auth4">
            <i class="mdi mdi-view-headline menu-icon"></i>
            <span class="menu-title">Adres Bilgileri</span>
            <i class="menu-arrow"></i>
         </a>
         <div class="collapse" id="auth4">
            <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="/Address/Index"> Adresleri Listele </a></li>
            </ul>
         </div>
         <div class="collapse" id="auth4">
            <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="/Address/EditAddress"> Yeni Adres Ekle </a></li>
            </ul>
         </div>
      </li>

      <li class="nav-item">
         <a class="nav-link" data-bs-toggle="collapse" href="#auth5" aria-expanded="false" aria-controls="auth5">
            <i class="mdi mdi-view-headline menu-icon"></i>
            <span class="menu-title">Mesajlar</span>
            <i class="menu-arrow"></i>
         </a>
         <div class="collapse" id="auth5">
            <ul class="nav flex-column sub-menu">
               <li class="nav-item"> <a class="nav-link" href="/Contact/Index"> Gelen Mesajlar </a></li>
            </ul>
         </div>

      </li>




      <li class="nav-item">
         <a class="nav-link" href="pages/charts/chartjs.html">
            <i class="mdi mdi-chart-pie menu-icon"></i>
            <span class="menu-title">Grafikler</span>
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="pages/tables/basic-table.html">
            <i class="mdi mdi-grid-large menu-icon"></i>
            <span class="menu-title">İstatistikler</span>
         </a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="pages/icons/mdi.html">
            <i class="mdi mdi-emoticon menu-icon"></i>
            <span class="menu-title">Ayarlar</span>
         </a>
      </li>
  
      <li class="nav-item">
         <a class="nav-link" href="documentation/documentation.html">
            <i class="mdi mdi-file-document-box-outline menu-icon"></i>
            <span class="menu-title">Çıkış Yap</span>
         </a>
      </li>
   </ul>
</nav>