@using EntityLayer.Entities
@model List<News>

<div class="blog" id="blog">
   <div class="container">
      <h3 class="tittle">Son Duyurular</h3>
      <p class="heading-btm-w3ls">Her daim güncel bilgilerle sizlerleyiz...</p>






      <div class="blog-grid-w3-agileits">
         <div class=" col-md-7 blog-img1-agileits-w3layouts">
            <a href="#" data-toggle="modal" data-target="#myModal2"></a>
         </div>
         <div class=" col-md-5 blog-info-w3layouts">
            <h6> <a href="#" data-toggle="modal" data-target="#myModal2">TARIMSAL BÜYÜMEDE DAHA FAZLA GELİŞME</a></h6>
            <div class="inner-info">
               <a href="#" class="blog-text-w3ls bar">Tarih :</a><span>16/11/2016</span>
               <p class="para-w3-agileits">Tarımsal büyümede daha fazla gelişme sağlamak için modern sulama tekniklerinin ve hassas tarım uygulamalarının yaygınlaştırılması önemlidir. Aynı zamanda, biyoteknoloji ve genetik mühendisliği kullanılarak daha dayanıklı ve verimli bitki türleri geliştirilmesi, üretkenliği artırabilir.</p>
            </div>
            <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal2">Detaylar</a>
         </div>
         <div class="clearfix"></div>
      </div>





      <div class="blog-grid-w3-agileits">
         <div class=" col-md-5 blog-info-w3layouts blog-mid">
            <h6><a href="#" data-toggle="modal" data-target="#myModal3">TARIM ENDÜSTRİSİNİ GELİŞTİRMEYE DEVAM EDİYORUZ</a></h6>
            <div class="inner-info-mid">
               <a href="#" class="blog-text-w3ls mid-bar">Tarih :</a><span>12/10/2016</span>
               <p class="para-w3-agileits">
                  Tarım endüstrisini geliştirmeye devam ediyoruz, modern teknolojileri ve sürdürülebilir tarım yöntemlerini entegre ederek verimliliği artırıyoruz. Çiftçileri destekleyerek, daha verimli ve çevre dostu üretim süreçleri oluşturuyoruz. Bu sayede, hem yerel ekonomiyi güçlendiriyor hem de geleceğe daha sağlam adımlarla ilerliyoruz.
               </p>
            </div>
            <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal3">Detaylar</a>

         </div>
         <div class=" col-md-7 blog-img2-agileits-w3layouts">
            <a href="#" data-toggle="modal" data-target="#myModal3"></a>
         </div>
         <div class="clearfix"></div>
      </div>



      <div class="blog-grid-w3-agileits">
         <div class=" col-md-7 blog-img3-agileits-w3layouts">
            <a href="#" data-toggle="modal" data-target="#myModal4"></a>
         </div>
         <div class=" col-md-5 blog-info-w3layouts">
            <h6><a href="#" data-toggle="modal" data-target="#myModal4"> TARIM ŞİRKETLERİ ARASINDA PAZARDA İLK ADIMLARIMIZ</a></h6>
            <div class="inner-info">
               <a href="#" class="blog-text-w3ls bar">Tarih :</a><span>06/8/2016</span>
               <p class="para-w3-agileits">Tarım şirketleri arasında pazarda ilk adımlarımızı atarak sektörde güçlü bir yer edinmeye başladık. İnovatif yaklaşımlarımız ve kaliteli ürünlerimizle müşterilerimize güven vermeyi hedefliyoruz. Bu süreçte, sürdürülebilir büyüme ve rekabetçi stratejilerle pazar payımızı artırmayı planlıyoruz.</p>
            </div>
            <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal4">Detaylar</a>

         </div>
         <div class="clearfix"></div>
      </div>





   </div>
</div>